# fly.toml app configuration file generated for wbs-evm-frontend on 2025-12-16T21:23:28+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'wbs-evm-frontend'
primary_region = 'nrt'

[build]
  dockerfile = 'Dockerfile.fly'

[env]
  API_URL = 'https://wbs-evm-backend.fly.dev'

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '256mb'
  cpus = 1
  memory_mb = 256
