# fly.toml app configuration file generated for wbs-evm-backend on 2025-12-16T21:17:08+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'wbs-evm-backend'
primary_region = 'nrt'

[build]

[env]
  DATABASE_URL = 'sqlite:////data/evm.db'

[[mounts]]
  source = 'evm_data'
  destination = '/data'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '256mb'
  cpus = 1
  memory_mb = 256
